@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #1e1e1e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

button {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-size: 16px;
  color: #ffffff;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  cursor: pointer;
}

form {
  display: flex;
  padding: 0 48px;
}

.habits {
  display: flex;
  margin-top: 60px;

  flex-direction: column;
  gap: 24px;
}

.habit {
  display: flex;
  align-items: center;

  width: 64px;
  height: 64px;

  font-size: 32px;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  display: flex;
  align-items: center;
  text-align: center;

  margin-bottom: 8px;

  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;

  font-weight: 700;
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background-color: #18181b;
}

input:checked {
  background-color: #8b5cf6;
  border: 2px solid #a78bfa;
}
